@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,259;1,259&display=swap');

body{
    font-family: "Inter Tight", sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff; 
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 40px; 
  }
  
  .featured {
    font-weight: bold; 
  }

  .buy-btn {
  background-color: #574c96;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  }

  .navbar-links {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff; 
  }
  
  .navbar-links a:hover {
    color: #2abde2; 
  }
  
  .carousel {
    display:flex;
  }
  
  .carousel-slide {
    flex: 0 0 auto;
    width: 80%; 
    margin-right: 20px;
    padding: 40px;
  }

  .carousel-container {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover; 
  }
  
  .carousel-slide img {
    width: 30%;   
    max-width: 500px;
    height: auto;
    float: left;
}

  .movie-info button {
    background-color: #5c678f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  
  .movie-info {
    background-color: rgba(230, 230, 250, 0.705);
    border: 2px solid rgb(102, 62, 175);
    padding: 10px;
    flex-grow: 1;
    margin-left: 320px;
  }
  
  .movie-info h2 {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .movie-info p {
    margin-bottom: 15px;
    margin-left: 20px;
  }
  
  .movie-info a {
    display: block; 
    margin-top: 10px;
  }
  
  .movie-info a:hover {
    text-decoration: underline;
  }

  